.figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;

    border: 0.2em solid black;

    &__text {
        text-align: center;
        font-size: 9em;
        user-select: none;
        -webkit-user-drag: none;
    }

    &--cursor {
        cursor: pointer;
    }
}